{% extends parent_template|default:"blog/base_blog.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Delete Tag
{% endblock %}


{% block content %}
<div>
    <div>
        <form action="{{ post.get_delete_url }}" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete tag {{ post.title|title }}?</p>

            {% if previous_url %}
            <button type="button"><a href="{{ previous_url }}">Cancel</a> </button>
            {% else %}
            <button type="button"><a href="{{ post.get_absolute_url }}">Cancel</a> </button>
            {% endif %}
            <button type="submit">Delete Post</button>

        </form>
    </div>
</div>
{% endblock %}