{% extends parent_template|default:"user/base_user.html" %}

{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
    <p>You will need your email to reset your password</p>
    <form action="{% url 'other_urls:pw_reset_start' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>
    <p>You will be sent instructions on how to reset your password</p>
{% endblock %}