{% extends parent_template|default:"user/base_user.html" %}

{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - {{ user_type|title }} SignUp
{% endblock %}

{% block content %}
    <h2>Create a {{ user_type }} account</h2>
    <form action=""
          method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary"> Signup</button>
    </form>

    <div>
        <a href="{% url 'other_urls:resend_activation' %}">
            Lost Activation E-mail?</a>
        </a>
    </div>

{% endblock %}